<nav id="previouslyVisited">
    <h2 style="visibility: hidden;">Previously viewed polycules</h2>
    <ul></ul>
</nav>
<script src="/static/previouslyVisited.js"></script>
<script>viewPreviouslyVisited();</script>

