<nav id="previouslyViewed">
    <h2 style="visibility: hidden;">Previously viewed polycules</h2>
    <ul></ul>
</nav>
<script src="/static/previouslyViewed.js"></script>
<script>viewpreviouslyViewed();</script>

